<br/>
<br/>
<div class="table-responsive orders-table-container">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <% disciple_filter_columns.each do |name, title| %>
          <% order = disciple_direction(name, params[:filter], params[:order]) %>
          <% arror = disciple_arror(name, params[:filter], order) %>
          <th scope="col">
            <a class="table-filter-link link-secondary icon-link" href="<%= "#{admin_root_path}"%>/disciples?filter=<%= "#{name}" %>&order=<%= order %>"><i class="bi <%= arror %>"></i><%= "#{title}" %></a>
          </th>
        <% end %>
        <th scope="col">Операции</th>
      </tr>
    </thead>
    <tbody>
      <% @disciples.each do |disciple| %>
        <tr>
          <td><%= disciple.id %></td>
          <td><%= disciple.spritual_name %></td>
          <td><%= disciple.initiation %></td>
          <td><%= disciple.fullname %></td>
          <td><%= disciple.street %></td>
          <td><%= disciple.zip %></td>
          <td><%= disciple.city %></td>
          <td><%= disciple.state %></td>
          <td><%= disciple.country %></td>
          <td><%= disciple.temple %></td>
          <td><%= disciple.phone %></td>
          <td><%= disciple.email %></td>
          <td><%= disciple.imdisciple ? "Да" : "Нет"  %></td>
          <td><%= disciple.imgivingcontact ? "Да" : "Нет" %></td>
          <td><%= disciple.created_at.strftime("%b %d, %Y at %I:%M %p") %></td>
          <td><%= disciple.updated_at.strftime("%b %d, %Y at %I:%M %p") %></td>
          <td>
            <%= link_to 'Удалить', admin_disciple_path(disciple), data: { turbo: true, turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
