<br/>
<br/>
<div class="table-responsive orders-table-container">
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <% order_filter_columns.each do |name, title| %>
        <% order = order_direction(name, params[:filter], params[:order]) %>
        <% arror = order_arror(name, params[:filter], order) %>
        <th scope="col">
          <a class="table-filter-link link-secondary icon-link" href="<%= "#{admin_root_path}"%>?filter=<%= "#{name}" %>&order=<%= order %>"><i class="bi <%= arror %>"></i><%= "#{title}" %></a>
        </th>
      <% end %>
      <th scope="col">Операции</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <th scope="row"><%= order.id %></th>
        <td><%= order.client_name %></td>
        <td><%= order.phone %></td>
        <td><%= order.email %></td>
        <td><%= order.murti_count %></td>
        <td><%= number_to_currency(order.payment_sum, unit: "руб", format: "%n %u", delimiter: " ") %></td>
        <td><%= number_to_currency(order.payment_fee, unit: "руб", format: "%n %u", delimiter: " ") %></td>
        <td><%= order.payment_method %></td>
        <td><%= order.address %></td>
        <td><%= order.track_number %></td>
        <td><%= order.comment %></td>
        <td><%= order.disciple&.name %></td>
        <td><%= order.created_at.strftime("%b %d, %Y at %I:%M %p") %></td>
        <td><%= order.updated_at.strftime("%b %d, %Y at %I:%M %p") %></td>
        <td><%= t "order.#{order.status}" %></td>
        <td>
          <a href="<%= edit_admin_order_path(order) %>">Редактировать</a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
