<div class="container payment-block">
  <h1>Купить мурти</h1>
  <%= form_with(model: @order, url: "/make_purchase") do |form| %>
    <% if @order.errors.any? %>
      <ul>
        <% @order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    <div>
      <%= form.label :client_name, "Ф.И.О." %>
      <%= form.text_field :client_name, :class => "form-control", :required => true %>
    </div>
    <div>
      <%= form.label :phone, "Номер телефона" %>
      <%= form.text_field :phone, :class => "form-control", :required => true %>
    </div>
    <div>
      <%= form.label :email, "Почта" %>
      <%= form.text_field :email, :class => "form-control", :required => true %>
    </div>
    <div>
      <%= form.label :address, "Адрес доставки" %>
      <%= form.text_area :address, :class => "form-control", :required => true %>
    </div>
    <%= form.hidden_field :murti_count %>
    <br/>
    <%= form.submit "Перейти к оплате", class: "btn btn-light" %>
<% end %>
</div>
