<div class="container payment-block">
  <h1><%= t "buy_page.title" %></h1>
  <%= form_with(model: @order, url: "/make_purchase") do |form| %>
    <% if @order.errors.any? %>
      <ul>
        <% @order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    <div>
      <%= form.label :client_name, t("buy_page.client_name") %>
      <%= form.text_field :client_name, :class => "form-control", :required => true %>
    </div>
    <div>
      <%= form.label :phone, t("buy_page.phone") %>
      <%= form.text_field :phone, :class => "form-control", :required => true %>
    </div>
    <div>
      <%= form.label :email, t("buy_page.email") %>
      <%= form.text_field :email, :class => "form-control", :required => true %>
    </div>
    <div>
      <%= form.label :address, t("buy_page.address") %>
      <%= form.text_area :address, :class => "form-control", :required => true %>
    </div>
    <%= form.hidden_field :murti_count %>
    <br/>
    <%= form.submit t("buy_page.submit"), class: "btn btn-light" %>
<% end %>
</div>
