<div class="container create-sponsor-block">
  <h1>Please Help To Get Srila Prabhupada’s Murti To Everyone Of His Direct Disciples</h1>
  <br/>
  <h4>As of March 1, 2025, approximately 1,000 disciples of Srila Prabhupada have been sent a gift of Srila Prabhupada’s murti. <a href="https://www.youtube.com/watch?v=otm02qUNNUo">(Click here for a short video report.)</a> There are at least 1,500 more disciples that have yet to receive this deity. We need your help to contact them for delivery. Please use the form below to submit the name and contact information for a direct disciple of Srila Prabhupada (yourself or another) who you would like to receive the Gift Prabhupada murti. Phone numbers and email addresses are mandatory for arranging delivery.</h4>
  <%= form_with(model: @discipleInfo, url: "/add_disciple") do |form| %>
    <% if @discipleInfo.errors.any? %>
      <ul>
        <% @discipleInfo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    <br/>
    <div>
      <div class="autocomplete">
        <%= form.label :spritual_name, "Spiritual name of Srila Prabhupada’s disciple to receive the murti (select from the list as you type):" %>
        <%= form.text_field :spritual_name, :class => "form-control", :required => true %>
      </div>
    </div>
    <br/>
    <div>
      <%= form.label :initiation, "Year and place of initiation (optional):" %>
      <%= form.text_field :initiation, :class => "form-control", :required => false %>
    </div>
    <br/>
    <div>
      <%= form.check_box :imspouse, :class => "form-check-input", :onclick => "spouseChange(this);" %>
      <%= form.label :imspouse, "select if married to a disciple of Srila Prabhupada" %>
    </div>
    <br/>
    <div class="spouse" hidden="hidden">
      <div class="autocomplete">
        <%= form.label :spouse_spritual_name, "Spiritual name of the spouse (select from the list as you type):" %>
        <%= form.text_field :spouse_spritual_name, :class => "form-control", :required => false %>
      </div>
      <div style="margin-top: 25px">
        <%= form.label :spouse_initiation, "Year and place of initiation (optional):" %>
        <%= form.text_field :spouse_initiation, :class => "form-control", :required => false %>
      </div>
    </div>
    <br/>
    <div>
      <div>Below, provide delivery information either for the disciple of Srila Prabhupada selected above or for yourself, if you are going to deliver the murti to him/her personally.</div>
      <br/>
      <div>Please specify whose contact information you are submitting below:</div>
      <br/>
      <div>
        <%= form.check_box :imdisciple, :class => "form-check-input", :onclick => "radioChange(this);" %>
        <%= form.label :imdisciple, "for the disciple of Srila Prabhupada selected above" %>
      </div>
      <div>
        <%= form.check_box :imgivingcontact, :class => "form-check-input", :onclick => "radioChange(this);" %>
        <%= form.label :imgivingcontact, "for myself so I could deliver the murti to him/her personally" %>
      </div>
    </div>
    <br/>
    <div>
      <%= form.label :fullname, "Full name:" %>
      <%= form.text_field :fullname, :class => "form-control", :required => true %>
    </div>
    <br/>
    <div>
      <table style="width: 100%">
        <tr>
          <td colspan="2">
            <div>
              <%= form.label :street, "Street address:" %>
              <%= form.text_field :street, :class => "form-control", :required => true %>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div style="margin-right: 5px">
              <%= form.label :zip, "Postal code" %>
              <%= form.text_field :zip, :class => "form-control", :required => true %>
            </div>
          </td>
          <td>
            <div style="margin-left: 5px">
              <%= form.label :city, "City" %>
              <%= form.text_field :city, :class => "form-control", :required => true %>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div style="margin-right: 5px">
              <%= form.label :state, "State" %>
              <%= form.text_field :state, :class => "form-control", :required => false %>
            </div>
          </td>
          <td style="width: 50%">
            <div style="margin-left: 5px">
              <%= form.label :country, "Country" %>
              <%= form.select :country, raw('<option></option><option value="AF">Afghanistan</option><option value="AX">Åland Islands</option><option value="AL">Albania</option><option value="DZ">Algeria</option><option value="AS">American Samoa</option><option value="AD">Andorra</option><option value="AO">Angola</option><option value="AI">Anguilla</option><option value="AQ">Antarctica</option><option value="AG">Antigua &amp; Barbuda</option><option value="AR">Argentina</option><option value="AM">Armenia</option><option value="AW">Aruba</option><option value="AC">Ascension Island</option><option value="AU">Australia</option><option value="AT">Austria</option><option value="AZ">Azerbaijan</option><option value="BS">Bahamas</option><option value="BH">Bahrain</option><option value="BD">Bangladesh</option><option value="BB">Barbados</option><option value="BY">Belarus</option><option value="BE">Belgium</option><option value="BZ">Belize</option><option value="BJ">Benin</option><option value="BM">Bermuda</option><option value="BT">Bhutan</option><option value="BO">Bolivia</option><option value="BA">Bosnia &amp; Herzegovina</option><option value="BW">Botswana</option><option value="BV">Bouvet Island</option><option value="BR">Brazil</option><option value="IO">British Indian Ocean Territory</option><option value="VG">British Virgin Islands</option><option value="BN">Brunei</option><option value="BG">Bulgaria</option><option value="BF">Burkina Faso</option><option value="BI">Burundi</option><option value="KH">Cambodia</option><option value="CM">Cameroon</option><option value="CA">Canada</option><option value="CV">Cape Verde</option><option value="BQ">Caribbean Netherlands</option><option value="KY">Cayman Islands</option><option value="CF">Central African Republic</option><option value="TD">Chad</option><option value="CL">Chile</option><option value="CN">China</option><option value="CX">Christmas Island</option><option value="CC">Cocos (Keeling) Islands</option><option value="CO">Colombia</option><option value="KM">Comoros</option><option value="CG">Congo - Brazzaville</option><option value="CD">Congo - Kinshasa</option><option value="CK">Cook Islands</option><option value="CR">Costa Rica</option><option value="CI">Côte d’Ivoire</option><option value="HR">Croatia</option><option value="CW">Curaçao</option><option value="CY">Cyprus</option><option value="CZ">Czechia</option><option value="DK">Denmark</option><option value="DJ">Djibouti</option><option value="DM">Dominica</option><option value="DO">Dominican Republic</option><option value="EC">Ecuador</option><option value="EG">Egypt</option><option value="SV">El Salvador</option><option value="GQ">Equatorial Guinea</option><option value="ER">Eritrea</option><option value="EE">Estonia</option><option value="SZ">Eswatini</option><option value="ET">Ethiopia</option><option value="FK">Falkland Islands (Islas Malvinas)</option><option value="FO">Faroe Islands</option><option value="FJ">Fiji</option><option value="FI">Finland</option><option value="FR">France</option><option value="GF">French Guiana</option><option value="PF">French Polynesia</option><option value="TF">French Southern Territories</option><option value="GA">Gabon</option><option value="GM">Gambia</option><option value="GE">Georgia</option><option value="DE">Germany</option><option value="GH">Ghana</option><option value="GI">Gibraltar</option><option value="GR">Greece</option><option value="GL">Greenland</option><option value="GD">Grenada</option><option value="GP">Guadeloupe</option><option value="GU">Guam</option><option value="GT">Guatemala</option><option value="GG">Guernsey</option><option value="GN">Guinea</option><option value="GW">Guinea-Bissau</option><option value="GY">Guyana</option><option value="HT">Haiti</option><option value="HM">Heard &amp; McDonald Islands</option><option value="HN">Honduras</option><option value="HK">Hong Kong</option><option value="HU">Hungary</option><option value="IS">Iceland</option><option value="IN">India</option><option value="ID">Indonesia</option><option value="IR">Iran</option><option value="IQ">Iraq</option><option value="IE">Ireland</option><option value="IM">Isle of Man</option><option value="IL">Israel</option><option value="IT">Italy</option><option value="JM">Jamaica</option><option value="JP">Japan</option><option value="JE">Jersey</option><option value="JO">Jordan</option><option value="KZ">Kazakhstan</option><option value="KE">Kenya</option><option value="KI">Kiribati</option><option value="XK">Kosovo</option><option value="KW">Kuwait</option><option value="KG">Kyrgyzstan</option><option value="LA">Laos</option><option value="LV">Latvia</option><option value="LB">Lebanon</option><option value="LS">Lesotho</option><option value="LR">Liberia</option><option value="LY">Libya</option><option value="LI">Liechtenstein</option><option value="LT">Lithuania</option><option value="LU">Luxembourg</option><option value="MO">Macao</option><option value="MG">Madagascar</option><option value="MW">Malawi</option><option value="MY">Malaysia</option><option value="MV">Maldives</option><option value="ML">Mali</option><option value="MT">Malta</option><option value="MH">Marshall Islands</option><option value="MQ">Martinique</option><option value="MR">Mauritania</option><option value="MU">Mauritius</option><option value="YT">Mayotte</option><option value="MX">Mexico</option><option value="FM">Micronesia</option><option value="MD">Moldova</option><option value="MC">Monaco</option><option value="MN">Mongolia</option><option value="ME">Montenegro</option><option value="MS">Montserrat</option><option value="MA">Morocco</option><option value="MZ">Mozambique</option><option value="MM">Myanmar (Burma)</option><option value="NA">Namibia</option><option value="NR">Nauru</option><option value="NP">Nepal</option><option value="NL">Netherlands</option><option value="NC">New Caledonia</option><option value="NZ">New Zealand</option><option value="NI">Nicaragua</option><option value="NE">Niger</option><option value="NG">Nigeria</option><option value="NU">Niue</option><option value="NF">Norfolk Island</option><option value="KP">North Korea</option><option value="MK">North Macedonia</option><option value="MP">Northern Mariana Islands</option><option value="NO">Norway</option><option value="OM">Oman</option><option value="PK">Pakistan</option><option value="PW">Palau</option><option value="PS">Palestine</option><option value="PA">Panama</option><option value="PG">Papua New Guinea</option><option value="PY">Paraguay</option><option value="PE">Peru</option><option value="PH">Philippines</option><option value="PN">Pitcairn Islands</option><option value="PL">Poland</option><option value="PT">Portugal</option><option value="PR">Puerto Rico</option><option value="QA">Qatar</option><option value="RE">Réunion</option><option value="RO">Romania</option><option value="RU">Russia</option><option value="RW">Rwanda</option><option value="WS">Samoa</option><option value="SM">San Marino</option><option value="ST">São Tomé &amp; Príncipe</option><option value="SA">Saudi Arabia</option><option value="SN">Senegal</option><option value="RS">Serbia</option><option value="SC">Seychelles</option><option value="SL">Sierra Leone</option><option value="SG">Singapore</option><option value="SX">Sint Maarten</option><option value="SK">Slovakia</option><option value="SI">Slovenia</option><option value="SB">Solomon Islands</option><option value="SO">Somalia</option><option value="ZA">South Africa</option><option value="GS">South Georgia &amp; South Sandwich Islands</option><option value="KR">South Korea</option><option value="SS">South Sudan</option><option value="ES">Spain</option><option value="LK">Sri Lanka</option><option value="BL">St Barthélemy</option><option value="SH">St Helena</option><option value="KN">St Kitts &amp; Nevis</option><option value="LC">St Lucia</option><option value="MF">St Martin</option><option value="PM">St Pierre &amp; Miquelon</option><option value="VC">St Vincent &amp; Grenadines</option><option value="SR">Suriname</option><option value="SJ">Svalbard &amp; Jan Mayen</option><option value="SE">Sweden</option><option value="CH">Switzerland</option><option value="TW">Taiwan</option><option value="TJ">Tajikistan</option><option value="TZ">Tanzania</option><option value="TH">Thailand</option><option value="TL">Timor-Leste</option><option value="TG">Togo</option><option value="TK">Tokelau</option><option value="TO">Tonga</option><option value="TT">Trinidad &amp; Tobago</option><option value="TA">Tristan da Cunha</option><option value="TN">Tunisia</option><option value="TR">Turkey</option><option value="TM">Turkmenistan</option><option value="TC">Turks &amp; Caicos Islands</option><option value="TV">Tuvalu</option><option value="UG">Uganda</option><option value="UA">Ukraine</option><option value="AE">United Arab Emirates</option><option value="GB">United Kingdom</option><option value="US">United States</option><option value="UY">Uruguay</option><option value="UM">US Outlying Islands</option><option value="VI">US Virgin Islands</option><option value="UZ">Uzbekistan</option><option value="VU">Vanuatu</option><option value="VA">Vatican City</option><option value="VE">Venezuela</option><option value="VN">Vietnam</option><option value="WF">Wallis &amp; Futuna</option><option value="EH">Western Sahara</option><option value="YE">Yemen</option><option value="ZM">Zambia</option><option value="ZW">Zimbabwe</option>'), {}, { :class => "form-control" } %>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <br/>
    <div>
      <%= form.label :temple, "Nearest ISKCON temple or center:" %>
      <%= form.text_field :temple, :class => "form-control", :required => true %>
    </div>
    <br/>
    <div>
      <%= form.label :phone, "Phone number:" %>
      <%= form.text_field :phone, :class => "form-control", :required => true %>
    </div>
    <br/>
    <div>
      <%= form.label :email, "Email address:" %>
      <%= form.text_field :email, :class => "form-control", :required => true %>
    </div>
    <br/>
    <div>
      <%= form.label :comment, "Comment (optional):" %>
      <%= form.text_field :comment, :class => "form-control", :required => false %>
    </div>
    <br/>
    <br/>
    <div style="text-align: center">
      <%= form.submit "SUBMIT", class: "btn btn-light submit-disciple" %>
    </div>
    <br/>
    <button hidden="hidden" class="btn" type="button" id="disciple-modal-button" data-bs-toggle="modal" data-bs-target="#disciple-modal">Disciple modal</button>
    <br/>
    <br/>
    <br/>
    <div style="text-align: center">Contact us: info@giftprabhupada.com</div>
    <br/>
    <br/>
  <% end %>
</div>
<%= render "home/partials/disciple_modal" %>

<style>
  .autocomplete {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
  }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }
  .autocomplete-items div:hover {
    background-color: #e9e9e9;
  }
  .autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
  }
</style>
<script>
  function autocomplete(inp, arr, nameId, initiationId) {
    var currentFocus;
    inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      this.parentNode.appendChild(a);
      for (i = 0; i < arr.length; i++) {
        for (j = 0; j < arr[i].length - val.length + 1; j++) {
          if (val.length > 2 && arr[i].substr(j, val.length).toUpperCase() == val.toUpperCase()) {
            b = document.createElement("DIV");
            b.innerHTML = arr[i].substr(0, j);
            b.innerHTML += "<strong>" + arr[i].substr(j, val.length) + "</strong>";
            b.innerHTML += arr[i].substr(j + val.length);
            b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
            b.addEventListener("click", function(e) {
                var disciple = this.getElementsByTagName("input")[0].value;
                document.getElementById(nameId).value = disciple.substring(0, disciple.indexOf("(") - 1);
                document.getElementById(initiationId).value = disciple.substring(disciple.indexOf("(") + 1, disciple.indexOf(")"));
                document.getElementById("disciple-modal-button").click();
                document.getElementById("disciple-name").innerHTML = disciple;
                var status = spiritualNameMap.find(e => e[0] == disciple)[1];
                document.getElementById("disciple-status").innerHTML = (!status || status.length === 0) ? "No information for this delivery." : status;
                closeAllLists();
            });
            a.appendChild(b);
          }
        }
      }
    });
    inp.addEventListener("keydown", function(e) {
        var x = document.getElementById(this.id + "autocomplete-list");
        if (x) x = x.getElementsByTagName("div");
        if (e.keyCode == 40) {
          currentFocus++;
          addActive(x);
        } else if (e.keyCode == 38) {
          currentFocus--;
          addActive(x);
        } else if (e.keyCode == 13) {
          e.preventDefault();
          if (currentFocus > -1) {
            if (x) x[currentFocus].click();
          }
        }
    });
    function addActive(x) {
      if (!x) return false;
      removeActive(x);
      if (currentFocus >= x.length) currentFocus = 0;
      if (currentFocus < 0) currentFocus = (x.length - 1);
      x[currentFocus].classList.add("autocomplete-active");
    }
    function removeActive(x) {
      for (var i = 0; i < x.length; i++) {
        x[i].classList.remove("autocomplete-active");
      }
    }
    function closeAllLists(elmnt) {
      var x = document.getElementsByClassName("autocomplete-items");
      for (var i = 0; i < x.length; i++) {
        if (elmnt != x[i] && elmnt != inp) {
          x[i].parentNode.removeChild(x[i]);
        }
      }
    }
    document.addEventListener("click", function (e) {
        closeAllLists(e.target);
    });
  }
  function radioChange(button)
  {
    if(document.getElementById(button.id).checked == true) {
      document.getElementById('disciple_info_imdisciple').checked = false;
      document.getElementById('disciple_info_imgivingcontact').checked = false;
      document.getElementById(button.id).checked = true;
    }
  }
  function spouseChange(button)
  {
    if(document.getElementById(button.id).checked == true) {
      document.getElementsByClassName("spouse")[0].removeAttribute('hidden');
    } else {
      document.getElementsByClassName("spouse")[0].setAttribute('hidden', 'hidden');
    }
  }

  var spiritualNames = <%= raw Initiation.all.map { |d| d.name + " (" + d.place + ")" } %>;
  var spiritualNameMap = <%= raw Initiation.all.map { |d| [d.name + " (" + d.place + ")", d.status] } %>;
  autocomplete(document.getElementById("disciple_info_spritual_name"), spiritualNames, 'disciple_info_spritual_name', 'disciple_info_initiation');
  autocomplete(document.getElementById("disciple_info_spouse_spritual_name"), spiritualNames, 'disciple_info_spouse_spritual_name', 'disciple_info_spouse_initiation');
</script>
