<%= render "header" %>

<%= render "main_info" %>

<%= render "main_info_video" %>

<%= render "about" %>

<div class="container-fluid">
  <div class="row project-add-info">
    <div class="row">
      <div class="col-lg-4 add-info-block">
        <img src="pattern-left-1.png" class="patternt-left-add-info-img">
        <img src="arror-left-1.png" class="arror-left-img">
      </div>
      <div class="col-lg-4">
        <img src="murti-2.png" class="murti-add-info-img">
      </div>
      <div class="col-lg-4 add-info-block">
        <img src="pattern-right-1.png" class="patternt-right-add-info-img">
        <img src="arror-right-1.png" class="arror-right-img">
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row project-img-album">
    <div class="row">
      <div class="col-lg-8">
        <div class="album-img-block">
          <div class="row">
            <div class="col-md-3 album-img">
              <img src="album-img-1.png">
            </div>
            <div class="col-md-3 col-md-offset-1 album-img">
              <img src="album-img-2.png">
            </div>
            <div class="col-md-3 col-md-offset-1 album-img">
              <img src="album-img-3.png">
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 album-img">
              <img src="album-img-4.png">
            </div>
            <div class="col-md-3 col-md-offset-1 album-img">
              <img src="album-img-5.png">
            </div>
            <div class="col-md-3 col-md-offset-1 album-img">
              <img src="album-img-6.png">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <img src="murti-album-block.png" class="murli-album-block-img">
      </div>
    </div>
  </div>
</div>

<%= render "achievements" %>
<%= render "gbc_members" %>
<%= render "reviews" %>
<%= render "buy" %>
<%= render "sponsors" %>
<%= render "questions" %>
<%= render "contacts" %>
