<div id="about" class="about-block">
  <h1><%= t "about_block.header" %></h1>
  <br/>
  <div class="about-block-content">
    <div class="about-goals">
      <div class="goal-image">
        <img src="about-1.png">
      </div>
      <div class="goal-text">
        <h2><%= t "about_block.goal_1" %></h2>
        <p><%= t "about_block.goal_1_description" %></p>
      </div>
      <div class="goal-image">
        <img src="about-2.png">
      </div>
      <div class="goal-text">
        <h2><%= t "about_block.goal_2" %></h2>
        <p><%= t "about_block.goal_2_description" %></p>
      </div>
      <div class="goal-image">
        <img src="about-3.png">
      </div>
      <div class="goal-text">
        <h2><%= t "about_block.goal_3" %></h2>
        <p><%= t "about_block.goal_3_description" %></p>
      </div>
    </div>
    <div class="about-description">
      <p class="fw-bold"><%= t "about_block.paragraph_1" %></p>
      <p><%= t "about_block.paragraph_2" %></p>
      <p><%= t "about_block.paragraph_3" %></p>
      <br/>
      <button class="btn btn-standard text-nowrap content-btn"><%= t "about_block.button" %></button>
    </div>
  </div>
</div>
