<div class="achievements-block">
  <div class="achievements-content">
    <div class="description">
      <h1><%= t "achievements_block.first_header" %></h1>
      <br/>
      <p class="fw-bold"><%= t "achievements_block.paragraph_1" %></p>
      <p><%= t "achievements_block.paragraph_2" %></p>
      <p><%= t "achievements_block.paragraph_3" %></p>
      <br/>
      <button class="btn btn-standard text-nowrap content-btn"><%= t "achievements_block.button" %></button>
    </div>
    <div class="description-video">
      <div class="description-video-content">
        <iframe src="https://www.youtube.com/embed/pBGWazJnsuM?autoplay=1&controls=0&modestbranding=0">
        </iframe>
      </div>
    </div>
  </div>
  <div class="gbc-members-content">
    <h2><%= t "achievements_block.second_header" %></h2>
    <section class="splide splide-wide" aria-label="GBC Members">
      <div class="splide__track">
        <ul class="splide__list achievements_slide">
          <li class="splide__slide">
            <div class="slide-item">
              <img src="gbc_image_1.png" class="slide-image">
              <iframe src="https://www.youtube.com/embed/pBGWazJnsuM?&controls=0&modestbranding=0" class="description-video-frame">
              </iframe>
            </div>
          </li>
          <li class="splide__slide">
            <div class="slide-item">
              <img src="gbc_image_2.png" class="slide-image">
              <iframe src="https://www.youtube.com/embed/pBGWazJnsuM?&controls=0&modestbranding=0" class="description-video-frame">
              </iframe>
            </div>
          </li>
          <li class="splide__slide">
            <div class="slide-item">
              <img src="gbc_image_3.png" class="slide-image">
              <iframe src="https://www.youtube.com/embed/pBGWazJnsuM?&controls=0&modestbranding=0" class="description-video-frame">
              </iframe>
            </div>
          </li>
          <li class="splide__slide">
            <div class="slide-item">
              <img src="gbc_image_4.png" class="slide-image">
              <iframe src="https://www.youtube.com/embed/pBGWazJnsuM?&controls=0&modestbranding=0" class="description-video-frame">
              </iframe>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>
