<div class="achievements-block">
  <div class="achievements-content">
    <div class="description">
      <h1><%= t "achievements_block.first_header" %></h1>
      <br/>
      <p class="fw-bold"><%= t "achievements_block.paragraph_1" %></p>
      <p><%= t "achievements_block.paragraph_2" %></p>
      <p><%= t "achievements_block.paragraph_3" %></p>
      <br/>
      <button class="btn btn-standard text-nowrap content-btn"><%= t "achievements_block.button" %></button>
    </div>
    <div class="description-video">
      <div class="description-video-content">
        <iframe src="https://www.youtube.com/embed/pBGWazJnsuM" class="description-video-frame">
        </iframe>
      </div>
    </div>
  </div>
  <div class="gbc-members-content">
    <h2><%= t "achievements_block.second_header" %></h2>
  </div>
</div>
