<div class="achievements-block">
  <div class="achievements-content">
    <div class="description">
      <h1><%= t "achievements_block.first_header" %></h1>
      <br/>
      <p class="fw-bold"><%= t "achievements_block.paragraph_1" %></p>
      <p><%= t "achievements_block.paragraph_2" %></p>
      <p><%= t "achievements_block.paragraph_3" %></p>
      <br/>
      <a href="https://youtube.com/@giftprabhupada" class="btn btn-standard text-nowrap content-btn" role="button"><%= t "achievements_block.button" %></a>
    </div>
    <div class="description-video">
      <div class="description-video-content">
        <iframe loading="lazy" src="https://www.youtube.com/embed/pBGWazJnsuM?autoplay=1&controls=0&modestbranding=0">
        </iframe>
      </div>
    </div>
  </div>
  <div class="gbc-members-content">
    <br/>
    <br/>
    <h2><%= t "achievements_block.second_header" %></h2>
    <section class="splide splide-wide" aria-label="GBC Members">
      <div class="splide__track">
        <ul class="splide__list achievements_slide">
          <li class="splide__slide">
            <div class="gbc-slide-item">
              <div class="item-media">
                <iframe loading="lazy" id="slide-video-1" src="https://www.youtube.com/embed/pBGWazJnsuM?&controls=0&modestbranding=0" class="description-video-frame">
                </iframe>
                <img loading="lazy" src="gbc_images_1.png" class="slide-image">
              </div>
              <div class="item-description">
                <p>Ачьютатма дас</p>
              </div>
            </div>
          </li>
          <% for i in 2..29 %>
            <%= render "home/partials/achievements_slide_item", idx: i %>
          <% end %>
          <li class="splide__slide">
            <div></div>
          </li>
        </ul>
      </div>
    </section>
    <br/>
    <br/>
  </div>
</div>
