<div id="buy" class="buy-block">
  <br/>
  <div class="buy-content">
    <div class="form-image-block">
        <img src="buy-murti.webp">
    </div>
    <div class="buy-content-header">
      <div>
        <h1><%= t "buy_block.header" %></h1>
        <p class="buy-description"><%= t "buy_block.description" %></p>
      </div>
    </div>
    <div class="buy-content-description">
      <p><%= raw t "buy_block.buy_description" %></p>
    </div>
    <div class="buy-content-form">
      <h2><%= t "buy_block.buy_header" %></h2>
      <p class="size-title"><%= t "buy_block.size_title" %></p>
      <div class="form-info-block">
        <div class="size-round-block"></div>
        <p class="size-title size-value"><%= t "buy_block.size_text" %></p>
        <p class="form-price"><%= t "buy_block.price" %></p>
      </div>
      <br/>
      <hr>
      <%= button_to t("buy_block.button"), "/buy", :class => "btn btn-standard text-nowrap", :method => :get %>
      <br/>
      <br/>
    </div>
  </div>
</div>