<div id="contacts" class="contacts-block">
  <div class="contacts-content">
    <div class="info-block">
        <h1><%= t "contacts_block.header" %></h1>
        <br/>
        <div class="address-block">
          <p class="contacts-country"><%= t "contacts_block.russia" %></p>
          <hr>
          <p class="contact-name"><%= t "contacts_block.contact_name" %></p>
          <p class="phone-number">+7 964 5 108 108</p>
          <a class="messenger-link" href="https://t.me/+79645108108" target=”_blank”>
            <img class="messenger-icon" src="telegram-icon.jpg">
          </a>
          <a class="messenger-link" href="https://wa.me/79645108108" target=”_blank”>
            <img class="messenger-icon" src="whatsapp-icon.jpg">
          </a>
          <p>shyamagauradas@gmail.com</p>
          <br>
          <p class="contacts-country"><%= t "contacts_block.india" %></p>
          <hr>
          <p class="contact-name"><%= t "contacts_block.contact_name" %></p>
          <p class="phone-number">+7 964 5 108 108</p>
          <a class="messenger-link" href="https://t.me/+79645108108" target=”_blank”>
            <img class="messenger-icon" src="telegram-icon.jpg">
          </a>
          <a class="messenger-link" href="https://wa.me/79645108108" target=”_blank”>
            <img class="messenger-icon" src="whatsapp-icon.jpg">
          </a>
          <p>shyamagauradas@gmail.com</p>
          <hr>
          <p class="social-network-text">Youtube:</p>
          <a href="https://youtube.com/@giftprabhupada" target=”_blank”>https://youtube.com/@giftprabhupada</a>
          <p class="social-network-text">VK:</p>
          <a href="https://vk.com/giftprabhupada" target=”_blank”>https://vk.com/giftprabhupada</a>
          <p class="social-network-text">Телеграм:</p>
          <a href="https://t.me/gift_prabhupada" target=”_blank”>https://t.me/gift_prabhupada</a>
          <hr>
          <p>ИП Семеренко Михаил Александрович ОГРНИП: 324385000089379</p>
          <a href="agreement.pdf" target=”_blank”>Договор публичной оферты</a>
        </div>
        <br/>
        <br/>
    </div>
    <div class="image-block">
      <img src="contacts-image.webp">
    </div>
  </div>
</div>
