<div id="contacts" class="contacts-block">
  <div class="contacts-content">
    <div class="info-block">
        <h1><%= t "contacts_block.header" %></h1>
        <br/>
        <div class="address-block">
          <p class="contacts-country"><%= t "contacts_block.russia" %></p>
          <hr>
          <p class="contact-name"><%= t "contacts_block.contact_name" %></p>
          <p>+7 800 284 108 108</p>
          <p>sgdiskcon@gmail.com</p>
          <br>
          <p class="contacts-country"><%= t "contacts_block.india" %></p>
          <hr>
          <p class="contact-name"><%= t "contacts_block.contact_name" %></p>
          <p>+7 800 284 108 108</p>
          <p>sgdiskcon@gmail.com</p>
          <br>
          <p class="contacts-country"><%= t "contacts_block.china" %></p>
          <hr>
          <p class="contact-name"><%= t "contacts_block.contact_name" %></p>
          <p>+7 800 284 108 108</p>
          <p>sgdiskcon@gmail.com</p>
          <hr>
          <p>ИП Семеренко Михаил Александрович ОГРНИП: 324385000089379</p>
          <a href="agreement.pdf">Договор публичной оферты</a>
        </div>
        <br/>
        <br/>
    </div>
    <div class="image-block">
      <img src="contacts-image.png">
    </div>
  </div>
</div>
