<div class="footer-block">
  <img src="brand.png">
  <a class="nav-link" href="#about"><%= t "navigation.about" %></a>
  <a class="nav-link" href="#reviews"><%= t "navigation.reviews" %></a>
  <a class="nav-link" href="#buy"><%= t "navigation.buy" %></a>
  <a class="nav-link" href="#sponsors"><%= t "navigation.support" %></a>
  <a class="nav-link" href="#contacts"><%= t "navigation.contacts" %></a>
  <a class="nav-link" href="#about"><%= t "navigation.about" %></a>
</div>
