<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="logo_<%= cookies[:lang] %>.png" alt="Prabhupada Murti">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav justify-content-end main-navigation">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#about"><%= t "navigation.about" %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#reviews"><%= t "navigation.reviews" %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#buy"><%= t "navigation.buy" %></a>
        </li>
        <li class="nav-item">
          <a style="font-weight: bold; color: #ffb366;" class="nav-link" href="#donate"><%= t "navigation.support" %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contacts"><%= t "navigation.contacts" %></a>
        </li>
        <!--<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= @language %>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/?lang=ru">Рус</a></li>
            <li><a class="dropdown-item" href="/?lang=en">Eng</a></li>
          </ul>
        </li>-->
      </ul>
    </div>
  </div>
</nav>
