<div id="reviews" class="reviews-block">
  <div class="reviews-content">
    <h2><%= t "reviews_block.header" %></h2>
    <br/>
    <div class="review-slide-items">
      <div class="review-item-content">
        <div class="review-top">
          <img class="review-photo" src="reviews-round-photo-mukunda.png">
          <h3><%= t "reviews_block.review_1_name" %></h3>
        </div>
        <p><%= t "reviews_block.review_1_text" %></p>
      </div>
      <div class="review-item-content" style="display:none;">
        <div class="review-top">
          <img class="review-photo" src="reviews-round-photo-bhakti-vigjana.png">
          <h3><%= t "reviews_block.review_2_name" %></h3>
        </div>
        <p><%= t "reviews_block.review_2_text" %></p>
      </div>
      <div class="review-item-content" style="display:none;">
        <div class="review-top">
          <img class="review-photo" src="reviews-round-photo-djanananda.png">
          <h3><%= t "reviews_block.review_3_name" %></h3>
        </div>
        <p><%= t "reviews_block.review_3_text" %></p>
      </div>
      <div class="review-item-content" style="display:none;">
        <div class="review-top">
          <img class="review-photo" src="reviews-round-photo-bhakti-chaytanya.png">
          <h3><%= t "reviews_block.review_4_name" %></h3>
        </div>
        <p><%= t "reviews_block.review_4_text" %></p>
      </div>
      <div class="review-item-content" style="display:none;">
        <div class="review-top">
          <img class="review-photo" src="reviews-round-photo-hari-shauri.png">
          <h3><%= t "reviews_block.review_5_name" %></h3>
        </div>
        <p><%= t "reviews_block.review_5_text" %></p>
      </div>
      <div class="review-item-content" style="display:none;">
        <div class="review-top">
          <img class="review-photo" src="reviews-round-photo-gauranga.png">
          <h3><%= t "reviews_block.review_6_name" %></h3>
        </div>
        <p><%= t "reviews_block.review_6_text" %></p>
      </div>
      <div class="review-item-content" style="display:none;">
        <div class="review-top">
          <img class="review-photo" src="reviews-round-photo-djanananda.png">
          <h3><%= t "reviews_block.review_7_name" %></h3>
        </div>
        <p><%= t "reviews_block.review_7_text" %></p>
      </div>
      <div class="review-item-content" style="display:none;">
        <div class="review-top">
          <img class="review-photo" src="reviews-round-photo-gauranga.png">
          <h3><%= t "reviews_block.review_8_name" %></h3>
        </div>
        <p><%= t "reviews_block.review_8_text" %></p>
      </div>
      <button class="review-slide-button arrow-left" data-direction="left"></button>
      <button class="review-slide-button arror-right" data-direction="right"></button>
      <img src="review-quotes.png" class="review-quotes-image">
    </div>
  </div>
</div>
