<div class="sponsors-block">
  <h1><%= t "sponsors_block.header" %></h1>
  <p class="sponsors-description"><%= t "sponsors_block.description" %></p>
  <div class="cards-block">
    <div class="card-item">
      <div class="card-header">
        <h1>10</h1>
        <p><%= t "sponsors_block.card_header" %></p>
      </div>
      <div class="card-list">
        <ul>
          <li><p><%= t "sponsors_block.card_point_1" %></p></li>
          <li><p><%= t "sponsors_block.card_point_2" %></p></li>
        </ul>
      </div>
      <hr>
      <p class="count-text"><%= t "sponsors_block.count_text" %></p>
      <div class="count-block">
        <input class="form-control" type="text" value="10" disabled>
        <p class="card-price"><%= t "sponsors_block.price_1" %></p>
      </div>
      <br/>
      <button class="btn btn-standard text-nowrap"><%= t "sponsors_block.button" %></button>
    </div>
    <div class="card-item">
      <div class="card-header">
        <h1>30</h1>
        <p><%= t "sponsors_block.card_header" %></p>
      </div>
      <div class="card-list">
        <ul>
          <li><p><%= t "sponsors_block.card_point_1" %></p></li>
          <li><p><%= t "sponsors_block.card_point_2" %></p></li>
          <li><p><%= t "sponsors_block.card_point_3" %></p></li>
        </ul>
      </div>
      <hr>
      <p class="count-text"><%= t "sponsors_block.count_text" %></p>
      <div class="count-block">
        <input class="form-control" type="text" value="30" disabled>
        <p class="card-price"><%= t "sponsors_block.price_2" %></p>
      </div>
      <br/>
      <button class="btn btn-standard text-nowrap"><%= t "sponsors_block.button" %></button>
    </div>
    <div class="card-item">
      <div class="card-header">
        <h1>50+</h1>
        <p><%= t "sponsors_block.card_header" %></p>
      </div>
      <div class="card-list">
        <ul>
          <li><p><%= t "sponsors_block.card_point_1" %></p></li>
          <li><p><%= t "sponsors_block.card_point_2" %></p></li>
          <li><p><%= t "sponsors_block.card_point_3" %></p></li>
          <li><p><%= t "sponsors_block.card_point_4" %></p></li>
        </ul>
      </div>
      <hr>
      <p class="count-text"><%= t "sponsors_block.count_text" %></p>
      <div class="count-block">
        <input class="form-control" type="text" value="50">
        <p class="card-price"><%= t "sponsors_block.price_3" %></p>
      </div>
      <br/>
      <button class="btn btn-standard text-nowrap"><%= t "sponsors_block.button" %></button>
    </div>
  </div>
  <br/>
</div>