<!DOCTYPE html>
<html>
  <head>
    <title>Prabhupada Murti Store Admin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application_admin", "data-turbo-track": "reload" %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Админка</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/admin/orders">Заказы</span></a>
          </li>
          <li class="nav-item mr-sm-2">
            <a class="nav-link" href="/admin/sponsors">Спонсоры</a>
          </li>
          <li class="nav-item mr-sm-2">
            <a class="nav-link" href="/admin/disciples">Ученики ШП</a>
          </li>
          <% if current_user.admin? %>
            <li class="nav-item mr-sm-2">
              <a class="nav-link" href="/admin/users">Пользователи</a>
            </li>
          <% end %>
        </ul>
      </div>
      <%= button_to "Выйти", destroy_user_session_path, class: "nav-link", :method => :delete %>
  </nav>

    <%= yield %>
  </body>
</html>
